In [33]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [34]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [4]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

In [13]:
df = pd.read_csv('green_tripdata_2019-09.csv.gz', nrows=100)

In [14]:
df.dtypes

VendorID                   int64
lpep_pickup_datetime      object
lpep_dropoff_datetime     object
store_and_fwd_flag        object
RatecodeID                 int64
PULocationID               int64
DOLocationID               int64
passenger_count            int64
trip_distance            float64
fare_amount              float64
extra                    float64
mta_tax                  float64
tip_amount               float64
tolls_amount             float64
ehail_fee                float64
improvement_surcharge    float64
total_amount             float64
payment_type               int64
trip_type                  int64
congestion_surcharge     float64
dtype: object

In [15]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [16]:
df.dtypes

VendorID                          int64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                        int64
PULocationID                      int64
DOLocationID                      int64
passenger_count                   int64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                      int64
trip_type                         int64
congestion_surcharge            float64
dtype: object

In [44]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv.gz', iterator=True, chunksize=10000)

In [45]:
df = next(df_iter)

df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

1000

In [46]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 2.638 second
inserted another chunk, took 2.388 second
inserted another chunk, took 2.729 second
inserted another chunk, took 2.269 second
inserted another chunk, took 2.366 second
inserted another chunk, took 2.530 second
inserted another chunk, took 2.516 second
inserted another chunk, took 2.337 second
inserted another chunk, took 2.496 second
inserted another chunk, took 2.401 second
inserted another chunk, took 2.365 second
inserted another chunk, took 2.378 second
inserted another chunk, took 2.272 second
inserted another chunk, took 2.347 second
inserted another chunk, took 2.443 second
inserted another chunk, took 2.616 second
inserted another chunk, took 2.397 second
inserted another chunk, took 2.663 second
inserted another chunk, took 2.553 second
inserted another chunk, took 3.274 second
inserted another chunk, took 2.704 second
inserted another chunk, took 2.823 second
inserted another chunk, took 2.828 second
inserted another chunk, took 3.044 second
inserted another chunk, took 3.601 second
inserted another chunk, took 3.533 second
inserted another chunk, took 2.969 second
inserted another chunk, took 3.532 second
inserted another chunk, took 2.693 second
inserted another chunk, took 2.423 second
inserted another chunk, took 2.717 second
inserted another chunk, took 2.300 second
inserted another chunk, took 2.490 second
inserted another chunk, took 2.314 second
inserted another chunk, took 3.696 second
inserted another chunk, took 2.675 second
inserted another chunk, took 2.556 second
inserted another chunk, took 4.003 second
inserted another chunk, took 2.295 second
inserted another chunk, took 2.320 second
inserted another chunk, took 2.400 second
inserted another chunk, took 2.683 second
inserted another chunk, took 2.132 second
inserted another chunk, took 2.405 second

StopIteration:

In [47]:
query1 = """
SELECT
    COUNT(*)
FROM
    green_taxi_data
WHERE
    lpep_pickup_datetime >= TO_DATE('20190918','YYYYMMDD') AND lpep_dropoff_datetime < TO_DATE('20190919','YYYYMMDD');
"""

pd.read_sql(query1, con=engine)

   count
0  15612

In [48]:
query2 = """
SELECT
    DATE_TRUNC('day', lpep_pickup_datetime) TRIP_DAY,
    MAX(trip_distance) AS trip_distance
FROM
    green_taxi_data
GROUP BY
    1
ORDER BY
    trip_distance DESC
LIMIT 1;
"""

pd.read_sql(query2, con=engine)

    trip_day  trip_distance
0 2019-09-26         341.64

In [52]:
query3 = """
SELECT
    Z."Borough",
    SUM(total_amount) AS TOTAL
FROM
    green_taxi_data AS T
    LEFT JOIN zones AS Z ON (z."LocationID" = T."PULocationID")
WHERE
    DATE_TRUNC('day', T.lpep_pickup_datetime) = TO_DATE('20190918','YYYYMMDD')
    AND Z."Borough" != 'Unknown'
GROUP BY
    Z."Borough"
HAVING 
    SUM(total_amount) > 50000
ORDER BY
    TOTAL DESC;
"""

pd.read_sql(query3, con=engine)

     Borough     total
0   Brooklyn  96333.24
1  Manhattan  92271.30
2     Queens  78671.71

In [51]:
query4 = """
SELECT
    DOZ."Zone",
    T.lpep_pickup_datetime,
    T.tip_amount
FROM
    green_taxi_data AS T
    LEFT JOIN zones AS PUZ ON (PUZ."LocationID" = T."PULocationID")
    LEFT JOIN zones AS DOZ ON (DOZ."LocationID" = T."DOLocationID")
WHERE
    PUZ."Zone" = 'Astoria'
ORDER BY
    T.tip_amount DESC
LIMIT 1;
"""

pd.read_sql(query4, con=engine)

          Zone lpep_pickup_datetime  tip_amount
0  JFK Airport  2019-09-08 18:10:40       62.31